*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

a,
li,
p {
  color: #000;
}

.container {
  width: 90%;
  margin-inline: auto;
}

.container-85 {
  width: 85%;
  margin: 0 auto;
}

/* header start */
.header-area {
  min-height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
}
nav ul a {
  font-size: 1.5rem;
  font-weight: 500;
  transition: color 0.5s ease-in;
}

nav ul a:hover {
  color: #54b8ff;
}

.registration {
  padding-top: 1rem;
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
}

.registration a {
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 0.5s ease-in;
}

.registration a:first-child:hover {
  color: #54b8ff;
}
.registration a:last-child {
  background-color: #54b8ff;
  color: #fff;
  padding: 0.8rem 2.5rem;
  border: none;
  border: 0.2rem solid transparent;
}

.registration a:last-child:hover {
  color: #000;
  background-color: #fff;
  border: 0.2rem solid #54b8ff;
  border-radius: 0.5rem;
}

/* header end */
/* hero start */
#hero {
  position: relative;
  margin-top: 7rem;
}
.hero-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-left .content h4 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  color: #2f2b71;
}

.hero-left .content h1 {
  font-size: 7rem;
  color: #5f596e;
  line-height: 8rem;
  font-weight: 700;
  padding: 2.5rem 0;
  white-space: nowrap;
}

.hero-left .content p {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  line-height: 3.5rem;
}

.hero-left .content a {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2rem 4rem;
  background: #54b8ff;
  color: #fff;
  margin-top: 3rem;
  letter-spacing: 0.3rem;
  border: 1px solid transparent;
  transition: all 0.5s;
}

.hero-left .content a:hover {
  color: #000;
  background: none;
  border: 1px solid #54b8ff;
  border-radius: 1rem;
}

/* hero-shape */
.shape1,
.shape2,
.shape3,
.shape4,
.shape5 {
  position: absolute;
}

.shape1 {
  top: 8rem;
  left: 0;
}

.shape2 {
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.shape3 {
  bottom: 0;
  left: 0;
}

.shape4 {
  bottom: 15rem;
  right: 0;
}

.shape5 {
  top: 15rem;
  right: 0;
}

.bottom-shape {
  display: flex;
  flex-direction: column;
  width: 20rem;
  position: absolute;
  gap: 1rem;
  left: 35%;
  bottom: 0;
}

.one {
  display: flex;
  justify-content: flex-end;
}
.two {
  gap: 1rem;
  display: flex;
  justify-content: flex-end;
}
.three {
  gap: 1rem;
  display: flex;
  justify-content: flex-end;
}
/* hero end */
